body,div,ul,li,h1,h2,h3,h4,h5,h6,form,textarea,p,td{
	margin:0;
	padding:0;
	background-repeat: repeat-x;
}
img{border:0;}
fieldset,img{border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
body{
	background-color:#fff;
*font-size:small;*font:x-small;	font-family: "ו";
	font-size: 12px;
}
table{font-size:inherit;font:100%;}
iframe{border:0px;padding:0px;margin:0px;}
#nhdrwrapsizer{padding-top:5px;}
#footerwrap{clear:both;}
#doc3{margin:auto;text-align:left;width:auto;font-size:100%;overflow:hidden;}
#modules{padding:20px 25px 0px 25px;overflow:hidden;background-color:#fff;}
#modules .yui-b{position:static;display:block;margin:0 0 1em 0;float:none;width:auto;overflow:hidden;}

.yui-gb .yui-u{float:left;margin-left:2%;*margin-left:1.895%;width:31%;}


.yui-b{margin-bottom:15px;}
.yui-gb div.first{margin-left:0;}
#modules,.yui-gb{zoom:1;}


img a,a img{background-color:transparent;}
#gbar{float:right;text-align:right;height:23px;padding-right:10px;}
#gsea{padding-top:10px;padding-bottom:10px;text-align:center;clear:both;}
#q{margin-top:4px;}
#q,#btnG,#btnI{margin-bottom:5px;}
.gseaopt{padding-left:7px;padding-top:3px;font-size:80%;width:152px;text-align:left;}
.gsealog{padding-right:2px;padding-top:6px;}
.msg{text-align:center;padding-bottom:10px;}
.msg a{text-decoration:none;}
.msg .msg_box,#noscript_box{font-weight:bold;padding:3px 15px 3px 10px;background-color:#ff9;display:inline;}
#noscript_box{background-color:#fad163;}
#nhdrwrapsizer{text-align:center;}
#footerwrap{border-top:1px #7aa5d6 solid;padding-bottom:5px;}
#footer_promos{text-align:center;line-height:19px;margin-top:20px;font-size:93%;}
#tabs{height:34px;overflow:hidden;padding-left:25px;background-image:url(/tea/image/ig/xian.gif);background-repeat:repeat-x;background-position:left 33px}
#tabs ul{width:100%;}
#tabs li.addtab{font-weight:normal;margin-right:-3px;margin-top:7px;padding-bottom:0px;padding-left:20px}
#tabs li.addtab a{text-decoration:none;}
.tab{
	float:left;
	height:23px;
	line-height:21px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000;}
#label{border:1px solid #000;border-bottom:0px;height:34px;float:left;background-color:#C1EBFD;padding:5px 20px 0px 20px;margin-bottom:1px;background-image:url(/tea/image/ig/xian.gif);background-repeat:repeat-x;background-position:left 32px}
.selectedtab,.unselectedtab{cursor:hand;cursor:pointer;}
.tab.spacer{width:22px;}
.tab span{display:inline;padding-left:20px;padding-right:20px;}
.edittab{padding-right:5px;margin-top:-1px;}
.edittab a{line-height:18px;margin:0px}
.edittab input{width:100px;border:1px #3c6ca3 solid;margin:2px 5px 0px 5px;font-size:93%;text-align:center;}

.selectedtab{font-weight:bold;background-color:#fff;border:1px #000 solid;border-bottom:0px;color:#333;height:27px}
.unselectedtab{border-bottom:0px #000 solid;height:27px;color:#333;}
.selectedtab_l,.selectedtab_r,.unselectedtab_l,.unselectedtab_r{width:0px;}
.tab_hover{background-color:#7aa5d6;}
#selecttheme{padding:0px;}
#addstuff{font-weight:bold;text-align:right;padding-right:10px;line-height:21px;float:none;margin-top:5px}
#addstuff .new,.tab .lf{padding-right:0px;}
#addstuff span{padding:0px;}

.modboxin,.modboxin_s{overflow:hidden;padding:5px;}
.modtitle,.modtitle_s{padding:10px 10px 2px 10px;font-size:110%;}
.modbox,.modbox_e{background-image:url(/tea/image/ig/modboxbg.gif);background-repeat:repeat-x}
.modboxin a{color:#000;text-decoration:none;margin-left:5px;line-height:20px}
.modboxin a:hover{text-decoration:underline;color:#BC2931;line-height:20px}


.modtitle .modtitle_text{font-weight:bold;}

.modtitle a{color:#1F3A87;text-decoration:none;margin:0px;padding:0px}
.modtitle a:hover{text-decoration:underline;color:#BC2931;padding:0px}




#skinbox{border:1px #5d7ea3 solid;background-color:#e5ecf9;padding:3px;}
.modtitle_s{border-top:0px;}
.modboxin_s{border-top:0px;padding-bottom:0px;}
.modboxin_s input{margin-left:3px;margin-top:5px;}
.modboxin_s #skin_zipcode{margin-left:0px;width:97%;}
.modtitle_s{border-bottom:0px;}
.skinth,.skinthsel{background-color:#fff;margin-bottom:1px;padding:4px;line-height:25px;height:25px;cursor:hand;cursor:pointer;}
.skintype{color:#3366cc;}
.skinthsel{background-color:#feffc5;}
.skinth img,.skinthsel img{float:left;margin-right:7px;}
a.ddbox,a.delbox,a.minbox,a.maxbox,a.el,a.help{float:right;margin-left:5px;width:10px;	height:10px;margin-top:2px;	overflow:hidden;
	background-repeat: no-repeat;cursor:default}
.modtitle a.el,.modtitle a.csl{float:right;font-size:82%;font-weight:normal;overflow:hidden;color:#97acd4;}
.modbox a:hover{margin:0px;padding:0px;width:10px;height:10px;margin-top:2px;margin-left:5px;}
modbox_e a:hover,a.modbox_e{margin:0px;padding:0px}
a.help{background-image:url(/tea/image/ig/help_blue.gif);}
a.el{background-image:url(/tea/image/ig/el_blue.gif);}
a.ddbox{background-image:url(/tea/image/ig/arrow_blue.gif);}
a.delbox{background-image:url(/tea/image/ig/x_blue.gif);}
a.minbox{background-image:url(/tea/image/ig/min_blue.gif);}
a.maxbox{background-image:url(/tea/image/ig/max_blue.gif);}

a.help:hover{background-image:url(/tea/image/ig/help_blue_highlight.gif);}
a.el:hover{background-image:url(/tea/image/ig/el_blue_highlight.gif);}
a.ddbox:hover{background-image:url(/tea/image/ig/arrow_blue_highlight.gif);}
a.delbox:hover{background-image:url(/tea/image/ig/x_blue_highlight.gif);}
a.minbox:hover{background-image:url(/tea/image/ig/min_blue_highlight.gif);}
a.maxbox:hover{background-image:url(/tea/image/ig/max_blue_highlight.gif);}
a.fmaxbox,a.fminbox{float:left;margin-right:5px;margin-top:4px;width:10px;height:10px;overflow:hidden;background-repeat:no-repeat}
a.fmaxbox:hover{margin-top:4px;}
a.fminbox:hover{margin-top:4px;}
.meditbox{margin-top:5px;border:1px #ccc solid;padding:6px 10px 5px 10px;text-transform:none;display:none;}
.meditbox input{margin-left:3px;height:20px}
.meditbox select{height:20px}
.meditbox a{text-decoration:underline;font-weight:normal;margin-right:4px}
.modbox_e .meditbox{display:block;}
.uftl{padding:0px;border:0px solid #fff;height:20px}
.sftl{padding:4px;padding-left:0px;border:0px solid #fff;border-top:1px dotted #d1d3d4;border-bottom:1px dotted #d1d3d4;}
.fpad{padding-top:5px;padding-bottom:2px;padding-left:28px}
.fb{border:none;padding-left:28px}
#leftuptree0{margin-left:5px }
.modlabel{padding-top:5px;padding-bottom:2px;}
.tls{position:relative;white-space:nowrap;overflow:hidden;padding-top:4px;width:100%;}
.tls a{text-decoration:none;}
.tld{background-color:#fff;width:60px;position:absolute;top:4px;right:-1px;text-align:right;}
.edline{padding-bottom:5px;border-bottom:1px #fff solid;margin-bottom:5px;white-space:nowrap;}
.edline input{margin-left:0px;}
.statusmsg{padding-top:5px;font-size:114%;font-style:italic;text-align:center;display:none;}
.mc{padding-top:4px;padding-bottom:2px;}
.mcg{padding-top:4px;padding-bottom:2px;background-color:#e7e7e7;}
.hand{cursor:pointer;cursor:hand;}
.dd{position:absolute;z-index:2001;background-color:white;margin-top:2px;}
.dd_layer{position:absolute;z-index:2000;left:0;top:0;background-image:url(/ig/images/cleardot.gif);}
.dd_border{border:1px solid #97acd4;}
.dd_item a{display:block;padding:2px 6px 2px 6px;text-decoration:none;white-space:nowrap;}
.dd_item a:link,.dd_item a:visited,.dd_item a:active{color:#3366cc;}
.dd_item a:hover{color:black;background-color:#efefef;text-decoration:none;}
.f35{float:left;width:35%;text-align:right;line-height:21px;}
.f65{float:left;width:65%;text-align:left;line-height:21px;}
.lf{float:left;}
.lf35{float:left;width:35%;text-align:left;}
.lf40{float:left;width:40px;}
.rf{float:right;}
.lff{float:left;line-height:22px;}
.pr{text-align:right;clear:both;padding:3px;}
a:link{color:#0267A8;}
a:visited{color:#551a8b;}
a:active{color:#ff0000;}
a.alt,a.mtlink{color:#000000;}
a.gre{color:#008000;}
.modtitle,.modtitle_s{color:#3366cc;}
.edittab a{color:#3366cc;}
.tls a{color:#262627;}
.linkon{color:#0000cc;text-decoration:underline;cursor:pointer;font-weight:normal}
.linkoff{font-weight:bold}


.tab_hover span{color:#fff;}
.sftl{color:#4d4d4d;}
.gt{color:#6f6f6f;}
.new{font-size:9px;color:#da0d10;}
#regular_logo{margin-right:5px;background:url(http://www.google.com/images/logo_sm.gif) left top no-repeat;width:150px;height:55px;}
.copyr{font-size:85%;}
.bt{font-weight:bold;font-size:122%;color:#3366cc;}
.mg{font-size:93%;color:#676767;}
.mg a{color:#7777cc;}
#setupbox{text-align:left;border:1px solid #3366cc;width:95%;padding:5px;font-size:100%;}
.setuptd{padding-top:5px;}
.setup_promo{font-size:122%;text-align:center;font-weight:bold;}
.setup_promo,#new_user_demo,#setupbox{padding-bottom:10px;}
.setup_promo a{color:#0000cc;}
.setup_promo_subtext{font-weight:normal;font-size:82%;padding-top:8px;color:#676767;}
.setup_promo_subtext a{color:#7777cc;}
#new_user_tip,#new_user_save{font-size:122%;text-align:center;}
#new_user_tip_box,#new_user_save_box{background-color:#fff;padding:3px 15px 3px 10px;display:inline;}
.tabtitle{font-weight:bold;color:#3366cc;}
#addcontent_button{font-weight:bold;font-size:16px;padding:2px 10px 2px 10px;color:#ffffff;background-color:#365789;}





.modbox .el {display:;}
.modbox .csl, .modbox .es {display:none;}
.modbox_e .el {display:none;}
.modbox_e .csl, .modbox .es {display:;}
.dm {position:relative;width:1px;height:1px;}
.fres {width:expression(_gel("ffresults").offsetWidth+"px");overflow:hidden;}
.panelo {}
.panelc {}
.mod {}
.unmod {}
form {display:inline;}
.c {clear:both;}
.fbox {margin-top:3px;margin-right:6px;display:block;overflow:hidden;width:10px;height:10px;background-image: url('/tea/image/ig/max_dark_blue.gif');background-repeat: no-repeat;}
.fmaxbox {background-image:url('/tea/image/ig/max_dark_blue.gif');margin-right:5px}
.fminbox {background-image:url('/tea/image/ig/min_dark_blue.gif');margin-right:5px}
a.fmaxbox:hover {background-image:url('/tea/image/ig/max_dark_blue_highlight.gif');margin-right:5px}
a.fminbox:hover {background-image:url('/tea/image/ig/min_dark_blue_highlight.gif');margin-right:5px}
.f_tbl {font-size:12px;margin-right:2px;margin-left:2px;padding-top:4px;padding-bottom:4px;}
.fr_tbl {margin-right:2px;margin-left:2px;padding-top:4px;padding-bottom:4px;}
.fb {font-size:12px;padding:2px;padding-top:4px;border: 0px solid #d1d3d4;border-top:none;overflow:auto;padding-left:28px}
.sftl {border: 0px solid #d1d3d4;border-bottom:none;}
.uftl {border:0px solid white;border-bottom:none;}




.dialog .top1, .dialog .top2, .dialog .bot1, .dialog .bot2 {height:0px;margin:0;font-size:1px;background:#CBDCED;}
* html .dialog .bot2 {margin: 0 2px;}
* html .dialog .bot1 {margin: 0 3px;}
.dialog .titlebar {color:black;font-weight:bold;background:#E2EEFA;min-height:14px;padding: 5px 12px 5px 12px;border-top:4px solid #CBDCED;border-left:4px solid #CBDCED;border-right:4px solid #CBDCED;font-size:100%;}
* html .dialog .titlebar {height:14px;}
.dialog .body {background:#FFFFFF;padding: 36px 40px 3px 40px;border-left:4px solid #CBDCED;border-right:4px solid #CBDCED;border-bottom:4px solid #CBDCED;}
.dialog .outerborder {border:1px solid #3A5774;}
.buttontable {width:50%;}
.dialog .buttontable td {text-align:center;padding:24px 2px 10px 2px;}



div.modbox,div.modbox_e{border:1px solid #63CCFA;margin-bottom:5px;padding-bottom:5px}
#dialog_box{border:1px solid #63CCFA;}

.iframe_close{width:8px;height:8px;background-image: url(/tea/image/ig/x_blue.gif);background-repeat: no-repeat;cursor:hand;}